body {
    background: #ccc;
    font-family: Arial;
    max-width: 900px;
    margin: auto;
}

.photo {
    border: 1px solid #5050;
    border-radius: 40%;
}

#title, .subtitle, .post_title {
    color: green;
    text-align: center;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

{
    text-decoration: line-through;
    color: #505050;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: #fff;
    padding: 15px;
    border: 3px solid #000;
    margin-bottom: 15px;
    border-radius: 20px;
    
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: center;
}

.post_image {
    margin-bottom: 15px;
    width: 100%;
}

.cotacts_list {
    list-style-type: none;
    padding-left: 15px;
}

.contacts_list li a {
    text-decoration: none;
}